@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: 'Inter Tight', 'Li Ador Noirrit Regular','Li Ador Noirrit SemiBold','Li Ador Noirrit Bold', sans-serif;
  line-height: 1.5;
  font-stretch: condensed !important;
  color: #000000cc;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
  -webkit-overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;  
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
.btn-view {
  @apply text-lg font-semibold normal-case border-[1px] border-black hover:shadow-lg hover:bg-black hover:text-white px-8 py-2 rounded-lg;
}

}